/* Override styles */

.columns .column .card-image img {
  padding: 10px;
}
.columns .column .card-content {
  min-height: 23em;
}

article .hero .hero-body .title {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 2em;
}
article .hero .hero-body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
