{#
/**
 * @file
 * Frontpage theme implementation for main view template.
 *
 * Moved the feed outside the view
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% if header %}
  <header class="section has-text-centered">
    {{ header }}
  </header>
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}


  {{ exposed }}
  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}

  {{ attachment_after }}

</div>
{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ pager }}
{{ more }}
<div class="field is-grouped">
  <div class="control">
    <div class="button">
      {{ feed_icons }}
    </div>
  </div>
</div>
